[submodule "number-guesser-starting"]
	path = number-guesser-starting
	url = https://github.com/MartinSWDev/number-guesser-starting
[submodule "excursion"]
	path = excursion
	url = https://github.com/MartinSWDev/excursion
[submodule "dasmotos-arts-crafts"]
	path = dasmotos-arts-crafts
	url = https://github.com/MartinSWDev/dasmotos-arts-crafts

